h1 {
  color: blue;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

button {
  margin-left: 10px;
  border-radius: 5px;
}

img {
  height: 30px;
  width: 30px;
  position: relative;
}

.like {
  position: absolute;
  padding: 8px;
 
}

.delete {
  margin-left: 500px;
  color: white;
  background-color: red;
  padding: 0 20px;
}